/* blue color:#3498DB; */
/* green color:#7CB342 */

*{
  box-sizing: border-box;
 
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin:0;
  color:#0000008a;
  font-size:12px;
}
a{
  text-decoration:none;
}
li{
  list-style: none;
}